header {
  background-color: gray;
  font: 200% Arial, Helvetica, sans-serif;
  color: white;
  height: 300px;
  margin: 0 10% 3% 10%;
  padding: 1% 5%;
}

.title > h1 {
  letter-spacing: 15px;
}

.title > h4 {
  letter-spacing: 5px;
}

.brand {
  position: relative;
  bottom: 80%;
  right: 5%;
  float: right;
  font-size: 300%;
}

#bold-F, #regular-F {
  position: absolute;
}

#regular-F {
  color: red;
  left: 10px;
  top: 5px;
  opacity: .5;
}

form, .results {
  border: 3px solid black;
  padding: 2% 5%;
  margin-left: 27%;
  width: 35%;
  text-align: center;
}

.results {
  visibility: hidden;
}

form::after{
  content: "";
  clear: both;
  display: table;
}

form > .block-left {
  float: left;
  margin-bottom: 5%;
}

form > .block-right {
  float: right;
  margin-bottom: 5%;
}

#user-name, #user-image {
  width: 110%;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  clear: both;
  padding: 2% 10%;
  margin-left: 25%;
  border: 5px solid lightblue;
  background-color: white;
  border-radius: 50px;
  letter-spacing: 10px;
  font-size: 200%;
  color: lightblue;
  transition: 1s;
}

.button:hover {
  color: white;
  background-color: lightblue;
}
